.Content {
  /* flex-grow: 1; */
  margin-top: 48px;
  padding-left: 270px;
}
.Sidebar {
  border-right: 1px solid rgb(237, 239, 241);
  background-color: #fff;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 4;
  top: 48px;
  color: rgb(28, 28, 28);
}
.Sidebar__Filter {
  position: relative;
}
.Sidebar__Filter input {
  background-color: rgb(246, 247, 248);
  color: rgb(28, 28, 28);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(237, 239, 241);
  border-image: initial;

  height: 30px;
  margin: 16px 16px 0;
  outline: none;
  padding: 0 6px;
  box-sizing: border-box;
  width: calc(100% - 32px);

  font-family: Noto Sans, Helvetica Neue, Segoe UI, Helvetica, Verdana, Arial,
    sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.Sidebar__Filter input:hover,
.Sidebar__Filter input:focus {
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 121, 211);
  border-image: initial;
}
.Sidebar-Label {
  color: rgb(135, 138, 140);
  padding: 20px 20px 0;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.Sidebar__Feeds .Sidebar-Label {
  padding: 20px 20px 8px;
}

.Sidebar__Items-Subcategory:hover,
.Sidebar__Items-Subcategory:focus {
  background-color: rgb(246, 247, 248);
}
.Sidebar__Items-Subcategory svg {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  height: 20px;
  width: 20px;
  color: #2d3a3a;
  fill: #2d3a3a;
}
.Sidebar__Items-Subcategory span {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 14px;
  line-height: 18px;
  margin-left: 8px;
  max-width: 208px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Sidebar__Items-Subcategory {
  padding: 8px 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
