.Navbar {
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 80;
  flex: 0 1 0%;
  height: 48px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(237, 239, 241);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 20px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.Navbar__Link {
  padding-right: 8px;
}
.Navbar__Link-brand {
  width: 100px;
}
.Navbar__Link-brand img {
  margin-bottom: 0;
}
.Navbar__Items {
  display: flex;
}
.Navbar__Items .Navbar__Link {
  margin: 0;
}
.Navbar__Link-toggle {
  display: none;
}
.Navbar__Items-mobile {
  display: none;
}
.Navbar__Links:not(:last-child) {
  margin-right: 0.5rem;
}
.Navbar__Links button {
  border-radius: 2px;
}
.Navbar__Links button:first-child {
  margin-right: 0.5rem;
}
.Navbar__Links {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navbar__Links:last-child {
  padding-left: 20px;
  padding-right: 20px;
}
.Navbar__Links svg {
  margin: 10px;
}
.Navbar__Links:not(:last-child):hover {
  background: #ccc;
  border-radius: 3px;
  /* padding: 4px 8px; */
}
.flexRight {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.flexLeft {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .Navbar input {
    display: none;
  }
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
    justify-content: center;
  }
  .Navbar__Items {
    display: none;
  }
  .Navbar__Items .Navbar__Link {
    margin: 1rem 0;
  }
  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .Navbar__Items-mobile {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background: #1a1a1a;
    width: 200px;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .Navbar__Items-mobile .Navbar__Link {
    height: 36px;
    align-items: center;
    display: flex;
    padding-left: 8px;
    width: 100%;
    justify-content: center;
  }
}
