$hamburger-padding-x: 9px;
$hamburger-padding-y: 9px;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

.hamburger-box {
  width: 20px;
  height: 15px;
  display: flex;
  /* display: inline-block; */
  position: relative;
  justify-content: center;
  align-items: center;
}

.select-hover {
  background: #f1f1f1;
  border: 1px solid #ccc;
  transition: all 0.2s;
}
